<div id="header-cookie-notice" class="cookie-notice">
  <script type="text/javascript">
    $('#header-cookie-notice').hide();
  </script>
  <div class="container">
    <p>Great.gov.uk uses cookies to make the site simpler. <a class="link" href="<%=Figaro.env.GREAT_GOV_URL %>/privacy-and-cookies">Find out more about cookies</a>
    </p>
    <div class="js-enabled-only">
      <button id="dismiss-cookie-notice" class="cookie-close" onclick="componentsCookieNotice.hideNoticeAndSetCookie()" aria-label="Close this message"></button>
    </div>
  </div>
</div>
