.header-beta-bar {
  background: #ffffff; }

#header-bar {
  background: #1e1348; }

#menu {
  height: auto;
  margin-top: 30px;
  background: none; }

#header {
  min-height: 0; }

#header-menu {
  padding-bottom: 15px;
  margin-top: 0;
  height: auto;
  background: #ffffff; }
  #header-menu .container {
    overflow: auto; }
  #header-menu ul li {
    padding-right: 15px;
    box-sizing: border-box;
    float: left; }
    #header-menu ul li a {
      padding: 0;
      display: inline; }
    #header-menu ul li:nth-child(1) {
      width: 10%; }
    #header-menu ul li:nth-child(2) {
      width: 20%; }
    #header-menu ul li:nth-child(3), #header-menu ul li:nth-child(4), #header-menu ul li:nth-child(5) {
      width: calc(70% / 3); }
    #header-menu ul li:nth-child(1) a.navigation,
    #header-menu ul li:nth-child(2) a.navigation {
      text-decoration: underline;
      color: #006ccc;
      font-size: 19px;
      font-weight: 400; }
    #header-menu ul li:nth-child(1) a.navigation:active,
    #header-menu ul li:nth-child(2) a.navigation:active {
      background-color: #ffbf47; }
    #header-menu ul li:nth-child(1) a.navigation:visited,
    #header-menu ul li:nth-child(2) a.navigation:visited {
      color: #4f0b7b; }
    #header-menu ul li:nth-child(1) a.navigation:hover,
    #header-menu ul li:nth-child(2) a.navigation:hover {
      background: none;
      color: #2b8cc4; }
    #header-menu ul li:nth-child(5) p {
      display: none; }
  #header-menu ul.links-list li.links-list-item {
    width: 100%; }
  #header-menu .links-list-item {
    width: 100%;
    padding: 0;
    min-height: 0;
    background: none;
    margin-bottom: 15px; }
    #header-menu .links-list-item:before {
      display: none; }
    #header-menu .links-list-item a {
      text-decoration: underline;
      color: #006ccc;
      min-height: 0;
      margin: 3px 3px 3px 0;
      padding: 0; }
      #header-menu .links-list-item a span {
        min-height: auto; }
      #header-menu .links-list-item a:visited {
        color: #4f0b7b; }
      #header-menu .links-list-item a:active {
        background-color: #ffbf47; }
      #header-menu .links-list-item a:hover {
        background: none;
        color: #2b8cc4; }
  #header-menu .links-list.container {
    margin-top: 15px; }
  #header-menu .navigation:hover {
    background: none; }
    #header-menu .navigation:hover:before {
      display: none; }
  #header-menu .navigation.links-list-heading {
    border: 0;
    color: #000000;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700; }
    #header-menu .navigation.links-list-heading:after {
      display: none; }

@media screen and (max-width: 767px) {
  #header {
    padding: 0; }
  #menu {
    margin-top: 0;
    padding: 0 15px;
    overflow: hidden; }
  #header-bar .account-links li:nth-child(2):after {
    display: none; }
  #header-bar .account-links li:nth-child(3) {
    margin-left: 15px; }
    #header-bar .account-links li:nth-child(3) a {
      text-decoration: none; }
    #header-bar .account-links li:nth-child(3) a:hover {
      text-decoration: underline; }
  #header-menu {
    margin-top: -50px;
    padding-bottom: 30px; }
    #header-menu a {
      border: 0;
      cursor: pointer; }
    #header-menu ul.links-list li.links-list-item {
      width: auto;
      display: inline;
      margin-right: 10px; }
    #header-menu ul.links-list li:last-child {
      margin-bottom: 15px; }
    #header-menu ul li:nth-child(1) {
      width: auto; }
    #header-menu ul li:nth-child(2) {
      width: auto;
      margin-bottom: 15px; }
    #header-menu ul li:nth-child(3), #header-menu ul li:nth-child(4), #header-menu ul li:nth-child(5) {
      width: 100%; }
    #header-menu ul li:nth-child(1) a.navigation,
    #header-menu ul li:nth-child(2) a.navigation {
      text-decoration: underline;
      color: #006ccc;
      font-size: 15px;
      font-weight: 400; }
    #header-menu ul li:nth-child(1) a.navigation:active,
    #header-menu ul li:nth-child(2) a.navigation:active {
      background-color: #ffbf47; }
    #header-menu ul li:nth-child(1) a.navigation:visited,
    #header-menu ul li:nth-child(2) a.navigation:visited {
      color: #4f0b7b; }
    #header-menu ul li:nth-child(1) a.navigation:hover,
    #header-menu ul li:nth-child(2) a.navigation:hover {
      background: none;
      color: #2b8cc4; }
    #header-menu ul li:nth-child(5) p {
      display: none; }
    #header-menu .links-list-item a {
      font-size: 15px; }
    #header-menu .navigation.links-list-heading {
      font-size: 19px; } }

@media screen and (max-width: 470px) {
  #header-dit-logo {
    margin-top: 35px; }
    #header-dit-logo img {
      max-width: 126px; } }

@media screen and (max-width: 360px) {
  #header-bar .account-links li {
    margin-left: 0; }
    #header-bar .account-links li:nth-child(3) {
      float: right; } }
